*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100px;
    height: 60px;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 80px;
    background: #b0907a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    font-family: cursive;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color:  #854442;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #854442;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


h1{
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
    text-align: center;
}
h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #854442;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}

table {
	width: 900px;
}

th {
	text-align: center;
	
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;

}

th {
	padding: 20px;
	text-align: center;
	
}

td{
	padding: 10px;
	text-align: center;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.center th img
{
    width: 250px;
    height: 250px;
}
